@import 'scss/icons';
@import 'scss/GMC_icons';
@import 'scss/variable.module.scss';
@import 'scss/mixins.module.scss';
@import 'scss/reboot.module.scss';
@import 'scss/layout.module.scss';
@import 'scss/typography.module.scss';
@import 'scss/custom.module.scss';
@import 'scss/skeleton.module.scss';
@import 'scss/aspect-ratio.module.scss';
@import 'scss/theme.module.scss';
@import 'scss/customize_Seo.module.scss';
@import 'scss/smartpath.module.scss';
@import 'scss/thirdparty.module.scss';
@import 'scss/customize_Seo_Reusable.module.scss';


// add Font face here only. for some reason it only works from here.
// I will have to debug more in details.

/* -------------------------------------------------------------------------- */
/*                        Open Sans Common Font family                        */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open_sans/OpenSans-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-stretch: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               Cadillac Gothic                               */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'CadillacGothic';
  src: url('../fonts/cadillacGothic/CadillacGothic-Bold-1.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'CadillacGothic';
  src: url('../fonts/cadillacGothic/CadillacGothic-Regular-1.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'CadillacGothicWide';
  src: url('../fonts/cadillacGothic/CadillacGothic-WideBold-1.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'CadillacGothicWide';
  src: url('../fonts/cadillacGothic/CadillacGothic-WideMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'CadillacGothicWide';
  src: url('../fonts/cadillacGothic/CadillacGothic-WideRegular-1.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'CadillacGothicWide';
  src: url('../fonts/cadillacGothic/CadillacGothic-WideMedium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'CadillacGothicWide';
  src: url('../fonts/cadillacGothic/CadillacGothic-WideBold-1.woff') format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  font-stretch: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                Cadillac Sans                               */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Cadillac_Sans';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
  src: url('../fonts/cadillacSans/CadillacSansWeb-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Cadillac_Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
  src: url('../fonts/cadillacSans/CadillacSansWeb-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Cadillac_Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
  src: url('../fonts/cadillacSans/CadillacSansWeb-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Cadillac_Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
  src: url('../fonts/cadillacSans/CadillacSansWeb-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Cadillac_Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
  src: url('../fonts/cadillacSans/CadillacSansWeb-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Cadillac_Serif';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/cadillacSerif/CadillacSerifWeb-RegularItalic.woff') format('woff');
}

/* -------------------------------------------------------------------------- */
/*                               Helvetica Neue                               */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/helvetica_neue/HelveticaNeue-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* -------------------------------------------------------------------------- */
/*                                 Icon Fonts                                 */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-stretch: 100%;
}

/* -------------------------------------------------------------------------- */
/*                               Toyota Type fonts                           */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Toyota_Type';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ToyotaType/ToyotaType-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Toyota_Type';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ToyotaType/ToyotaType-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Toyota_Type';
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/ToyotaType/ToyotaType-BoldIt.woff2') format('woff2');
}

@font-face {
  font-family: 'Toyota_Type';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ToyotaType/ToyotaType-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Toyota_Type';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ToyotaType/ToyotaType-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Toyota_Type';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/ToyotaType/ToyotaType-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Toyota_Type';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/ToyotaType/ToyotaType-Italic.woff2') format('woff2');
}

/* -------------------------------------------------------------------------- */
/*                               Chevy                                        */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Chevy';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/chevy/Interstate-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Chevy';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/chevy/Interstate-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Chevy';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/chevy/Interstate-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Chevy LightCondensed';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('../fonts/chevy/Interstate-LightCondItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/bebas_neue/bebasNeue-Regular.woff2') format('woff2');
}

/* -------------------------------------------------------------------------- */
/*                          Land Rover                                        */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'land_rover';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/land_rover/LandRoverWeb-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'land_rover';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/land_rover/LandRoverWeb-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'land_rover';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/land_rover/LandRoverWeb-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'land_rover';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/land_rover/LandRoverWeb-Demi.woff2') format('woff2');
}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/avenir-lt-std/avenirltstd-book/avenirltstd-book.woff') format('woff');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/avenir-lt-std/avenirltstd-medium/avenirltstd-medium.woff') format('woff');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                          Jaguar                                     */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/avenir-lt-std/avenirltstd-book/avenirltstd-book.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/avenir-lt-std/avenirltstd-medium/avenirltstd-medium.woff') format('woff');
}

[data-site-unique-id='COLEJAGUAR'] {
  @font-face {
    font-family: 'Avenir';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/avenir-lt-std/avenirltstd-medium/avenirltstd-medium.woff') format('woff');
  }
}

@font-face {
  font-family: 'Avenir';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/avenir-lt-std/avenirltstd-bold/avenirnextltpro-bold.woff') format('woff');
}

@font-face {
  font-family: 'Jaguar Modern Regular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/jaguarmodernweb/jaguarmodernweb-regular/jaguarmodernweb-regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/proxima-nova/proximanova-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/proxima-nova/proximanova-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/proxima-nova/proximanova-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/proxima-nova/proximanova-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/proxima-nova/proximanova-bold.woff2') format('woff2');
}

/* -------------------------------------------------------------------------- */
/*                          Mercedes Benz                                    */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'MBCorpoAScreen2';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/mbcorpo/mbcorpoascreen2cond-regular-web.woff') format('woff');
}

@font-face {
  font-family: 'MBCorpoSText';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/mbcorpo/mbcorpostext-condregular-web.woff') format('woff');
}

/* -------------------------------------------------------------------------- */
/*                                   Nissan                                   */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'Nissan';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/nissan/nissan_brand_regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Nissan';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/nissan/nissan_brand_bold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Nissan';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/nissan/nissan_brand_light-webfont.woff2') format('woff2');
}

/* -------------------------------------------------------------------------- */
/*                            Mercedes Westchester                            */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'corpoaregular';
  src: url('../fonts/corpoaregular/corpar-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-regular/roboto-regular.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-bold/roboto-bold.woff') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* -------------------------------------------------------------------------- */
/*                                  GMC Theme                                 */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'ddc-icons';
  src: url('../fonts/GMCTheme/static_GMC_icon_fonts.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* -------------------------------------------------------------------------- */
/*                                 Lexus Canada Theme                                 */
/* -------------------------------------------------------------------------- */

@font-face {
  font-family: 'nobel';
  src: url('../fonts/nobel/nobel-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArchivoBlack Regular';
  src: url('../fonts/archivo_black/archivoBlack-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-stretch: 100%;
}

@font-face {
  font-family: 'DM Sans Regular';
  src: url('../fonts/dm_sans/dmSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-stretch: 100%;
}
