@import '@resources/css/scss/variable';
@import '@resources/css/scss/mixins';

.site_Header {
  position: relative;
  z-index: 100;
}

.header_With_Fav_Btn {
  width: 100%;
}

.header_Content {
  // background: var(--headerBg);
  background: #0a0a0a;
  padding: rem(10px) 0;
  position: relative;
}

[data-site='tubmanchev'],
[data-site='strathmoremotors'] {
  .header_Content {
    background: var(--headerBg);
    padding: rem(10px) 0;
    position: relative;
  }
}

.primary_Header {
  .header_Content {
    background-color: var(--headerBg);
  }
}

.site_Logo {
  width: rem(250px);

  a {
    padding: rem(10px) 0;
    display: block;
  }

  @include MQ(767px) {
    width: rem(200px);
  }

  .canadacadillac & {
    width: rem(263px);
  }
}

.site_Logo_Link {
  display: block;
  padding-block: rem(10px);

  img {
    display: block;
    width: 100%;
    aspect-ratio: auto 50 / 9;
  }

  @include MQ(767px) {
    padding-block: rem(5px);
  }
}

.header_Container.header_Container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(5px);
  position: static;

  @include MQ(767px) {
    gap: 0;
  }
}

// .header_Container{
//   flex-wrap: wrap;
// }

.header_Menu_Contain {
  flex: 1 auto;
}

.header_Menu_Contain__searchOnHover {
  flex: initial;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;

  @include MQ(1024px) {
    display: block;
  }
}

[data-site='tubmanchev'] {
  .header_Menu_Contain__searchOnHover {
    justify-content: space-between;
  }
}

[data-site-unique-id="GAUTHIERCADILLAC"] {
  .header_Menu_Contain__searchOnHover {
    justify-content: center;
  }
}

.header_Search {
  width: 400px;
  max-width: 100%;
  margin-left: auto;

  @include MQ(1024px) {
    width: 100%;
  }
}

.searchBar_Mega_Menu_navList {
  justify-content: flex-end;
}

.header_Container__searchOnHover {
  justify-content: space-between;

  @include MQ(1024px) {
    display: flex;

    .header_Menu_Btn {
      position: absolute;
      top: 1.25rem;
      right: 4rem;
    }
  }

  @include MQ(880px) {
    .header_Menu_Btn {
      right: 1rem;
    }
  }
}

.search_Mobile_Nav {
  .mobile_Search {
    display: flex;

    @include MQ_min(1025px) {
      display: none;
    }
  }

  @include MQ(1024px) {

    .header_Search_Icon,
    .header_Search {
      display: none;
    }
  }
}

[data-theme='canadacadillac'] {
  .site_Logo {
    width: 263px;
  }

  .header_Content {
    padding: rem(7px) 0;
    width: 100%;
  }
}

.compare_Vehicle_Contain {
  text-align: right;
  padding: 0.5rem 1rem;
  flex: 0 auto;
  width: 100%;

  @include MQ(1024px) {
    order: 3;
    padding: 0;
  }
}

.compare_Btn {
  font-size: 0.7rem;

  [data-theme='canadacadillac'] {
    .mega_Menu {
      right: auto;
      // min-width: rem(800px);
      max-width: rem(800px);
    }
  }
}

.hudson_Header {
  .header_Menu_Contain {
    flex: none;
    align-self: flex-end;
    flex-basis: 68%;

    @include MQ(1024px) {
      align-self: flex-start;
      flex-basis: auto;

      button {
        &:first-child {
          top: 1rem;
        }

        &:last-child {
          background-color: $dark-yellow;
          border-color: $dark-yellow;
        }
      }
    }
  }

  .header_Content {
    background: var(--headerBg);
    padding: 0.5rem 0;
  }

  .header_Search {
    margin-left: 0;
    flex: none;
    position: relative;
    margin-top: -9.5rem;
    width: 58%;
    margin-left: 15%;
    gap: rem(10px);

    @include MQ(1024px) {
      display: none;
    }

    >div {
      margin-right: 0;
    }

    input {
      border-radius: 1rem;
    }

    button {
      border-radius: 1rem;
      min-width: auto;
      background-color: $dark-yellow;
      border-color: $dark-yellow;

      img {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }
  }

  .header_Container {
    justify-content: space-evenly;

    @include MQ(1024px) {
      justify-content: space-between;
    }

    .site_Logo {
      max-width: 250px;
      aspect-ratio: 2/1;

      .site_Logo_Link {
        padding-block: 0;
        aspect-ratio: 2/1;
      }

      img {
        max-height: 125px;
        width: 100%;
        aspect-ratio: 2/1;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

@include MQ(374px) {
  [data-site-unique-id="MURRAYCADILLAC"] {
    .site_Logo {
      width: rem(230px);
    }
  }
}

.search_Icon_Btn {
  width: rem(36px);
  height: rem(36px);
  color: $white;
  background-color: transparent;
  min-width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    color: $black;
    background: $white;
  }
}

[data-site-unique-id="GAUTHIERCADILLAC"] {
  .search_Icon_Btn {
    color: $black;
    cursor: pointer;

    &:hover {
      color: #4e4e4e;
      background: $white;
    }

    @include MQ(1024px) {
      display: none !important;
    }
  }
}

[data-site='tubmanchev'] {
  .tubmanchev_Header {
    .header_Container {
      width: 100% !important;
    }

    .site_Logo {
      .site_Logo_Link {
        img {
          aspect-ratio: 62/11;
        }
      }

      @include MQ_min(38rem) {
        width: 18.875rem;
      }

      @media only screen and (min-width: 1024px) {
        max-width: 20vw;
      }
    }

    .header_Menu_Contain {
      padding: 0 1rem;

      li a {
        font-size: 0.8rem;

        @include MQ(1300px) {
          font-size: 0.9vw;
        }

        @include MQ(1024px) {
          font-size: 1rem;
        }
      }
    }

    .search_Icon.search_Icon {
      display: none;
    }

    .siteContactNav {
      @include MQ(1024px) {
        display: none;
      }
    }

    .hours_section_Wrapper {
      position: relative;
    }

    .hours_Btn,
    .search_Btn {
      color: $white;
      border-radius: 5rem;
      font-weight: $weight-extrabold;
      margin: 0.5em auto;
      border: 1px solid #ccc;
      padding: 0.4rem 0.8rem;
      line-height: 1.5;
      margin-right: 1em;
      font-size: 0.8rem;
      min-width: auto;

      i {
        color: $primary;
        margin-right: 6px;
        font-weight: $weight-extrabold;
      }

      &:hover {
        border-color: $primary;

        i {
          color: $white;
        }
      }
    }
  }
}

.hours_Tab {
  position: absolute;
  top: rem(42px);
  right: 0;
  z-index: 10;
  background: $black;
}

.header_Search_Sm {
  max-width: rem(170px);
  display: inline-flex;
  margin-left: 3%;

  @include MQ(1500px) {
    margin-left: 0;
  }

  input,
  button {
    border-radius: 0;
    font-size: 16px;
    line-height: 16px;
  }

  input {
    padding: rem(2px) rem(6px);
    height: rem(27px);
    border-color: $white;
  }

  button {
    padding: rem(7px) rem(8px);
    min-width: rem(40px);
    height: rem(27px);
    margin-left: rem(-9.2px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $white;

    img {
      margin-right: 0;
    }

    span {
      display: none;
    }
  }

  @include MQ(1024px) {
    max-width: 100%;
  }
}

[data-theme='landrover'] {
  @include MQ_min(1025px) {
    .header_Menu_Contain__searchOnHover {
      justify-content: space-between;
    }
  }
}

[data-theme='jaguar'] {
  @include MQ_min(1025px) {
    .header_Menu_Contain__searchOnHover {
      justify-content: flex-start;
    }
  }
}

.nested_SubMenu {
  .child_Menu {
    background: $white;
    z-index: 1;
    padding: 0;

    @include MQ_min(1025px) {
      box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
      position: absolute;
      left: 100%;
      top: 0;
      display: none;
      padding: 0;
      z-index: 99999;
    }

    @include MQ(1370px) {
      left: auto;
      right: 100%;
    }
  }

  li {
    &.active {
      .child_Menu {
        display: block;
        padding: 0.5rem;
      }
    }
  }

  @include MQ_min(1025px) {
    li {
      position: relative;

      &:hover {
        .child_Menu {
          display: block;
        }

        background-color: $primary;

        >a {
          color: $white;
        }
      }
    }
  }
}

[data-site-unique-id='COLEJAGUAR'] {
  .nested_SubMenu {
    .child_Menu {
      @media screen and (max-width:1625px) {
        left: unset;
        right: 100% !important;
      }
    }
  }
}

// nav Banner
.nav_Banner {
  min-height: 50px;
  color: $white;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    display: block;
    color: $white;
    text-transform: uppercase;
    font-size: rem(24px);
    line-height: rem(33.6px);

    @include MQ(879px) {
      font-size: rem(21px);
      line-height: rem(29.4px);
    }
  }
}

[data-site-unique-id="GAUTHIERCADILLAC"] {
  .header_Content {
    background-color: #fff;
  }
}

[data-site-unique-id='CHEVROLETOFMONTEBELLO'] {
  .full_Width_Header {
    .header_Container.header_Container {
      width: 100%;
    }
  }

  .header_Menu_Contain {
    flex: 1;

    @include MQ(1440px) {
      flex: 1 auto;
    }
  }

  .header_Search {
    width: auto;
    flex: 1;

    @include MQ(1440px) {
      flex: 1 auto;
    }

    @include MQ(1024px) {
      width: 100%;
    }
  }
}

[data-theme='mercedesbenz'] {
  .header_Content {
    padding-block: rem(3px);
    min-height: 70px;
    display: flex;
    align-items: center;
  }

  .header_Container.header_Container {
    width: 100%;
  }
}
