@import '@resources/css/scss/variable.module.scss';
@import '@resources/css/scss/mixins.module.scss';

.site_Header {
  position: relative;
  z-index: 100;
}

.header_Content {
  background: $white;
  position: relative;
}
.site_Logo {
  width: rem(210px);
  a {
    padding: rem(15px) 0;
    display: block;
  }
}

.site_Logo_Link {
  display: block;
  padding-block: rem(10px);
  img {
    display: block;
  }
  @include MQ(767px) {
    padding-block: rem(5px);
  }
}

.header_Container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(5px);
  position: static;
  justify-content: space-between;
  max-height: 150px;
  @include MQ(767px) {
    gap: 0;
  }
}

.header_Menu_Contain {
  flex: 1 auto;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: min(100% - 3rem, 110rem);
  padding: 0 3rem;
  gap: 1rem;
  position: relative;
  @include MQ(1024px) {
    background: transparent;
    // padding: rem(10px) rem(24px) rem(5px);
    flex-direction: row-reverse;
  }
}

.header_Search {
  max-width: 500px;
  margin-left: auto;
  flex: 0 500px;
  margin-bottom: rem(8px);
  input {
    background-color: $white-bis;
    border-radius: 0;
    border: 1px solid #ced4da;
  }
  @include MQ(1024px) {
    width: 100%;
    flex: 0 100%;
    max-width: 100%;
  }
}
.nav_Btn.nav_Btn {
  position: absolute;
  top: -10.5rem;
  right: 1.5rem;
  span {
    background: #000;
    &::before,
    &::after {
      background: #000;
    }
  }
  @include MQ(610px) {
    top: rem(-112px);
  }
}
.nav_Bar {
  @media only screen and (min-width: 1025px) {
    position: static;
    width: 100%;
    top: rem(50px);
  }
  a,
  a[href] {
    font-size: rem(13.6px);
    padding-block: rem(5px);
    border-radius: 0;
    &:hover {
      background-color: $white;
      color: $primary;
      border-radius: 0;
    }
    @include MQ(1024px) {
      font-size: rem(20px);
      padding-block: rem(6px);
      background-color: $white;
      color: $black;
    }
  }
  ul {
    justify-content: space-between;
    border-radius: 0;
    ul {
      a[href] {
        font-weight: 400;
        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}

// .nav_Link.nav_Link{
//   font-size: rem(13.6px);
//   padding-block: rem(5px);
//   border-radius: 0;
//   &:hover{
//     background-color: $white;
//     color: $primary;
//     border-radius: 0;
//   }
//   @include MQ(1024px){
//     font-size: rem(20px);
//     padding-block: rem(6px);
//   }
// }

.header_Wolfe_Logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @include MQ($lg-device) {
    display: none;
  }
}

.contact_Info {
  margin-top: rem(10px);
  text-align: right;
}

.contact_Info_Link {
  display: block;
  color: $black;
  font-style: normal;
  font-size: rem(16px);
  line-height: rem(24px);
  @media screen and (max-width: $dn-xl-device) {
    font-size: $size-6;
    line-height: $size-4;
  }
  img {
    width: rem(16px);
    margin-right: rem(5px);
  }
  .phone_Number {
    // font-weight: $weight-bold;
    text-transform: uppercase;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  .d_None {
    display: none;
    @media screen and (max-width: 1023px) {
      display: inline-block;
    }
  }
}

.city_Address {
  display: block;
}

@media screen and (max-width: 1023px) {
  .city_Address,
  .street_Address {
    display: none;
  }
}
.sub_Menu_Position_Right.sub_Menu_Position_Right {
  right: 0;
  left: unset;
}

.display_None.display_None {
  .header_Search {
    @include MQ(610px) {
      display: none;
    }
  }
}

.top {
  @include MQ(1024px) {
    top: 45px;
  }
  @include MQ(425px) {
    top: 33px;
  }
  @include MQ(360px) {
    top: 46px;
  }
}
