@import "@resources/css/scss/variable";
@import "@resources/css/scss/mixins";

.header_Action_Bar {
  @include MQ(1024px) {
    display: none;
  }
}

.call_Direction_Contain {
  display: none;
  @include MQ(1024px) {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .call_Btn,
  .direction_Btn {
    font-size: rem(18px);
    line-height: rem(24px);
    padding: rem(12px);
    img {
      filter: invert(100%);
    }
  }

  .call_Btn {
    background: $secondary;
  }

  .direction_Btn {
    background: $primary;
  }
}
.menu_Font_Size{
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 0.3rem 0.7rem;
  font-weight: 700;
  &:hover{
    background-color: $white;
    color: $black;
  }
}
