.note {
  font-size: rem(14px);
  margin-block: 1em;
  color: $grey-light;
}

[data-site-unique-id='ROCKHILLNISSAN'] {
  @media screen and (min-width : 601px) {
    .mobile_subNav {
      display: none;
    }

    .desktop_subNav {
      display: block;
    }
  }
}

[data-site-unique-id='ROCKHILLNISSAN'] {
  @media screen and (max-width : 600px) {
    .desktop_subNav {
      display: none;
    }

    .mobile_subNav {
      display: block;
    }
  }

}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.note_Color {
  font-size: rem(14px);
  margin-block: 1em;
  color: $grey;
}

.reset_Table {

  table,
  thead,
  tbody,
  tfoot,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
  }
}

.disclaimer-wrap {
  font-size: 0.8rem;
  font-family: 'Avenir Next Regular';
  font-weight: 500 !important;
}

.cbo-garage.cbo-garage {
  @include MQ(1700px) {
    right: 25px;
    bottom: 10px;
  }
}

.black-bg {
  background: #000 !important;
  color: #fff !important;
}

body.ReactModal__Body--open:has(.ReactModal__Overlay.ReactModal__Overlay--after-open) #etsButton {
  z-index: 999;
}

[data-site-unique-id="MBWESTCOVINA"] {
  nav {
    .bg-highlight {
      background: #fbff3d;
      color: $primary;
    }
  }
}

#spin-360-element {
  height: 720px;
  width: 100%;
}

@media(max-width: 575px) {
  #spin-360-element {
    height: 500px;
  }
}