.customize_Seo_pages {
    .m-1 {
        margin: 0.25rem;
    }
    .w-100 {
        width: 100% !important;
    }
    .mb-5, .my-5 {
        margin-bottom: 3rem;
    }  
    .pb-5, .py-5 {
        padding-bottom: 3rem;
    }
    .mt-5, .my-5 {
        margin-top: 3rem;
    }
    .mb-3, .my-3{
        margin-bottom: 1rem;
    }
    .mt-3, .my-3{
        margin-top: 1rem;
    }
    .mb-2, .my-2{
        margin-bottom: 0.5rem;
    }
    .mt-2, .my-2{
        margin-top: 0.5rem;
    }
    .img-full {
        width: 100%;
    }
    .has-text-align-center {
        text-align: center;
    }
}