[class^="ddc-icon-"], [class*=" ddc-icon-"], .ddc-icon{
  font-family: 'ddc-icons';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased
}

.ddc-icon-360-spin:before {
  content: "\e600"
}

.ddc-icon-3rd-row-seats:before {
  content: "\e601"
}

.ddc-icon-air-conditioning:before {
  content: "\e602"
}

.ddc-icon-airbags:before {
  content: "\e603"
}

.ddc-icon-alert:before {
  content: "\e604"
}

.ddc-icon-alert-circle:before {
  content: "\e605"
}

.ddc-icon-arrow-double-left:before {
  content: "\e606"
}

.ddc-icon-arrow-double-right:before {
  content: "\e607"
}

.ddc-icon-arrow-select:before {
  content: "\e608"
}

.ddc-icon-arrow1-double-0:before {
  content: "\e609"
}

.ddc-icon-arrow1-down:before {
  content: "\e60a"
}

.ddc-icon-arrow1-left:before,.incentives-search-detail.enhanced .lnk-back:before {
  content: "\e60b"
}

.ddc-icon-arrow1-right:before,.incentives-search-detail.enhanced .nav-list li>a:before {
  content: "\e60c"
}

.ddc-icon-arrow1-up:before {
  content: "\e60d"
}

.ddc-icon-arrow2-down:before,.model-specific-landing-incentives .ui-accordion-header.ui-state-active .ddc-icon:before,.navbar-nav .caret:before {
  content: "\e60e"
}

.ddc-icon-arrow2-left:before,.jcarousel-prev-horizontal:before,.model-selector-parallax .carousel-prev:before,.vlp .pagination a[rel=prev]:before {
  content: "\e60f"
}

.ddc-icon-arrow2-right:before,.jcarousel-next-horizontal:before,.model-selector-parallax .carousel-next:before,.showroom-detail-links a:before,.showroom-details-section .ui-tabs .ui-widget-header li a:before,.vlp .pagination a[rel=next]:before {
  content: "\e610"
}

.ddc-icon-arrow2-up:before {
  content: "\e611"
}

.ddc-icon-arrow3-down:before {
  content: "\e612"
}

.ddc-icon-arrow3-up:before {
  content: "\e613"
}

.ddc-icon-arrow4-left:before {
  content: "\e614"
}

.ddc-icon-arrow4-right:before {
  content: "\e615"
}

.ddc-icon-auto-dimming-rear-view-mirror:before {
  content: "\e616"
}

.ddc-icon-automatic-temperature-control:before {
  content: "\e617"
}

.ddc-icon-backup-camera:before {
  content: "\e618"
}

.ddc-icon-banknote:before {
  content: "\e619"
}

.ddc-icon-battery:before {
  content: "\e61a"
}

.ddc-icon-bedlength:before {
  content: "\e61b"
}

.ddc-icon-benefit-home-charging:before {
  content: "\e61c"
}

.ddc-icon-benefit-hybrid:before {
  content: "\e61d"
}

.ddc-icon-benefit-local-incentives:before {
  content: "\e61e"
}

.ddc-icon-benefit-low-cost-own:before {
  content: "\e61f"
}

.ddc-icon-benefit-quick-quiet:before {
  content: "\e620"
}

.ddc-icon-benefit-tax-credit:before {
  content: "\e621"
}

.ddc-icon-blind-spot-sensor:before {
  content: "\e622"
}

.ddc-icon-bodystyle-cargo-van:before {
  content: "\e623"
}

.ddc-icon-bodystyle-convertible:before {
  content: "\e624"
}

.ddc-icon-bodystyle-coupe:before {
  content: "\e625"
}

.ddc-icon-bodystyle-crossover:before {
  content: "\e626"
}

.ddc-icon-bodystyle-hatchback:before {
  content: "\e627"
}

.ddc-icon-bodystyle-luxury:before {
  content: "\e628"
}

.ddc-icon-bodystyle-other:before {
  content: "\e629"
}

.ddc-icon-bodystyle-sedan:before {
  content: "\e62a"
}

.ddc-icon-bodystyle-suv:before {
  content: "\e62b"
}

.ddc-icon-bodystyle-truck:before {
  content: "\e62c"
}

.ddc-icon-bodystyle-van:before {
  content: "\e62d"
}

.ddc-icon-bodystyle-wagon:before {
  content: "\e62e"
}

.ddc-icon-brakes:before {
  content: "\e62f"
}

.ddc-icon-brochure:before {
  content: "\e630"
}

.ddc-icon-bubble:before {
  content: "\e631"
}

.ddc-icon-business-link:before {
  content: "\e632"
}

.ddc-icon-calculator:before {
  content: "\e633"
}

.ddc-icon-call:before {
  content: "\e634"
}

.ddc-icon-call-outline:before {
  content: "\e635"
}

.ddc-icon-call-outline-thin:before {
  content: "\e636"
}

.ddc-icon-cancel-circle:before,.facet-breadcrumb-close-icon:before {
  content: "\e637"
}

.ddc-icon-cd-player:before {
  content: "\e638"
}

.ddc-icon-check:before {
  content: "\e639"
}

.ddc-icon-check-seal:before {
  content: "\e63a"
}

.ddc-icon-check-shield:before {
  content: "\e63b"
}

.ddc-icon-checkmark:before {
  content: "\e63c"
}

.ddc-icon-checkmark-circle:before {
  content: "\e63d"
}

.ddc-icon-checkmark-empty:before {
  content: "\e63e"
}

.ddc-icon-checkmark-skinny:before {
  content: "\e63f"
}

.ddc-icon-checkmark-sm:before {
  content: "\e640"
}

.ddc-icon-chevron-down:before,.value-statement-mega-wrapper .navbar-default .dropdown>a .caret:before {
  content: "\e641"
}

.ddc-icon-chevron-left:before {
  content: "\e642"
}

.ddc-icon-chevron-right:before {
  content: "\e643"
}

.ddc-icon-chevron-right-after:before {
  content: "\e644"
}

.ddc-icon-circle-check:before {
  content: "\e645"
}

.ddc-icon-clock:before {
  content: "\e646"
}

.ddc-icon-close:before,.mycars-favorites .hproduct .remove:before {
  content: "\e647"
}

.ddc-icon-collapse:before {
  content: "\e648"
}

.ddc-icon-collapse-circle:before {
  content: "\e649"
}

.ddc-icon-contact:before {
  content: "\e64a"
}

.ddc-icon-dimensions:before {
  content: "\e64b"
}

.ddc-icon-dimensions-exterior:before {
  content: "\e64c"
}

.ddc-icon-dimensions-interior:before {
  content: "\e64d"
}

.ddc-icon-dimming-door-mirrors:before {
  content: "\e64e"
}

.ddc-icon-distance-pacing-cruise-control:before {
  content: "\e64f"
}

.ddc-icon-dr-accessories:before {
  content: "\e650"
}

.ddc-icon-dr-finance:before {
  content: "\e651"
}

.ddc-icon-dr-payment:before {
  content: "\e652"
}

.ddc-icon-dr-photoupload-backseat:before {
  content: "\e653"
}

.ddc-icon-dr-photoupload-dashboard:before {
  content: "\e654"
}

.ddc-icon-dr-photoupload-driver-side:before {
  content: "\e655"
}

.ddc-icon-dr-photoupload-front:before {
  content: "\e656"
}

.ddc-icon-dr-photoupload-frontseat:before {
  content: "\e657"
}

.ddc-icon-dr-photoupload-interior-front:before {
  content: "\e658"
}

.ddc-icon-dr-photoupload-interior-rear:before {
  content: "\e659"
}

.ddc-icon-dr-photoupload-odometer:before {
  content: "\e65a"
}

.ddc-icon-dr-photoupload-passenger:before {
  content: "\e65b"
}

.ddc-icon-dr-photoupload-passenger-side:before {
  content: "\e65c"
}

.ddc-icon-dr-photoupload-rear:before {
  content: "\e65d"
}

.ddc-icon-dr-photoupload-tire:before {
  content: "\e65e"
}

.ddc-icon-dr-photoupload-vin:before {
  content: "\e65f"
}

.ddc-icon-dr-photoupload-wheels:before {
  content: "\e660"
}

.buttonblock-default.mid-block .dr-prequal h4::before,.ddc-icon-dr-prequal:before {
  content: "\e661"
}

.ddc-icon-dr-protect:before {
  content: "\e662"
}

.ddc-icon-dr-reserve:before {
  content: "\e663"
}

.ddc-icon-dr-trade:before {
  content: "\e664"
}

.ddc-icon-driveline:before {
  content: "\e665"
}

.ddc-icon-drivetrain-4x2:before {
  content: "\e666"
}

.ddc-icon-drivetrain-4x4:before {
  content: "\e667"
}

.ddc-icon-drivetrain-awd:before {
  content: "\e668"
}

.ddc-icon-drivetrain-fwd:before {
  content: "\e669"
}

.ddc-icon-drivetrain-rwd:before {
  content: "\e66a"
}

.ddc-icon-electric:before {
  content: "\e66b"
}

.buttonblock-default.mid-block .email h4::before,.ddc-icon-email:before {
  content: "\e66c"
}

.ddc-icon-engine:before {
  content: "\e66d"
}

.ddc-icon-entertainment-system:before {
  content: "\e66e"
}

.ddc-icon-ev-hybrid:before {
  content: "\e66f"
}

.ddc-icon-ev-plugin:before {
  content: "\e670"
}

.ddc-icon-evpluginhybrid:before {
  content: "\e671"
}

.ddc-icon-expand:before {
  content: "\e672"
}

.ddc-icon-expand-circle:before {
  content: "\e673"
}

.ddc-icon-expand-circle-outline:before {
  content: "\e674"
}

.ddc-icon-exterior-mirror:before {
  content: "\e675"
}

.ddc-icon-exteriorcolor:before {
  content: "\e676"
}

.ddc-icon-facebook:before {
  content: "\e677"
}

.ddc-icon-filter-list-controls:before {
  content: "\e678"
}

.ddc-icon-filters:before {
  content: "\e679"
}

.ddc-icon-finance:before {
  content: "\e67a"
}

.ddc-icon-find-vehicle:before {
  content: "\e67b"
}

.ddc-icon-googleplus:before {
  content: "\e67c"
}

.ddc-icon-handsfree-liftgate:before {
  content: "\e67d"
}

.ddc-icon-headlight:before {
  content: "\e67e"
}

.ddc-icon-headphones:before {
  content: "\e67f"
}

.ddc-icon-heads-up-display:before {
  content: "\e680"
}

.ddc-icon-heated-door-mirrors:before {
  content: "\e681"
}

.ddc-icon-heated-seats:before {
  content: "\e682"
}

.ddc-icon-heated-steering-wheel:before {
  content: "\e683"
}

.ddc-icon-help:before {
  content: "\e684"
}

.ddc-icon-help-circle:before {
  content: "\e685"
}

.ddc-icon-home:before {
  content: "\e686"
}

.ddc-icon-hotcar:before {
  content: "\e687"
}

.ddc-icon-hybrid:before {
  content: "\e688"
}

.ddc-icon-hybrid-leaf:before {
  content: "\e689"
}

.ddc-icon-hybrid-plugin:before {
  content: "\e68a"
}

.ddc-icon-images:before {
  content: "\e68b"
}

.ddc-icon-in-transit:before {
  content: "\e68c"
}

.alert>.ddc-icon::before,.ddc-icon-info:before,.inventory-listing-default #compareForm .bd .hproduct .mycars-vlp .alert>a.mycars-save-btn::before,.inventory-listing-default #compareForm .bd .hproduct .mycars-vlp .alert>a.mycars-saved-btn::before,.inventoryList .description .packages [data-toggle=tooltip]:after {
  content: "\e68d"
}

.ddc-icon-info-outline:before {
  content: "\e68e"
}

.ddc-icon-interiorcolor:before {
  content: "\e68f"
}

.ddc-icon-internet:before {
  content: "\e690"
}

.ddc-icon-lane-departure:before {
  content: "\e691"
}

.ddc-icon-layout-grid:before {
  content: "\e692"
}

.ddc-icon-layout-list:before {
  content: "\e693"
}

.ddc-icon-leather-upholstery:before {
  content: "\e694"
}

.ddc-icon-linestyle-price-tag:before {
  content: "\e695"
}

.ddc-icon-linestyle-sedan:before {
  content: "\e696"
}

.ddc-icon-linestyle-service:before {
  content: "\e697"
}

.ddc-icon-link:before {
  content: "\e698"
}

.ddc-icon-loading:before {
  content: "\e699"
}

.ddc-icon-location:before {
  content: "\e69a"
}

.ddc-icon-lock:before {
  content: "\e69b"
}

.ddc-icon-low-tire-pressure-warning:before {
  content: "\e69c"
}

.ddc-icon-map:before {
  content: "\e69d"
}

.ddc-icon-map-outline:before {
  content: "\e69e"
}

.ddc-icon-map-outline-thin:before {
  content: "\e69f"
}

.ddc-icon-massaging-seat:before {
  content: "\e6a0"
}

.ddc-icon-menu:before {
  content: "\e6a1"
}

.ddc-icon-menu-thin:before {
  content: "\e6a2"
}

.ddc-icon-microphone:before {
  content: "\e6a3"
}

.ddc-icon-microphone-off:before {
  content: "\e6a4"
}

.ddc-icon-minus:before,.inventory-detail-tech-specs .tech-specs.panel-group .panel .ddc-icon:before {
  content: "\e6a5"
}

.ddc-icon-mopar-dlr-24hr-service-icon:before {
  content: "\e6a6"
}

.ddc-icon-mopar-dlr-cert-tech-icon:before {
  content: "\e6a7"
}

.ddc-icon-mopar-dlr-comp-prices-icon:before {
  content: "\e6a8"
}

.ddc-icon-mopar-dlr-early-bird-icon:before {
  content: "\e6a9"
}

.ddc-icon-mopar-dlr-free-est-icon:before {
  content: "\e6aa"
}

.ddc-icon-mopar-dlr-free-wifi-icon:before {
  content: "\e6ab"
}

.ddc-icon-mopar-dlr-gy-tires-icon:before {
  content: "\e6ac"
}

.ddc-icon-mopar-dlr-mich-tires-icon:before {
  content: "\e6ad"
}

.ddc-icon-mopar-dlr-mopar-acc-icon:before {
  content: "\e6ae"
}

.ddc-icon-mopar-dlr-mopar-perf-parts-icon:before {
  content: "\e6af"
}

.ddc-icon-mopar-dlr-mopar-speedshop-icon:before {
  content: "\e6b0"
}

.ddc-icon-mopar-dlr-play-area-icon:before {
  content: "\e6b1"
}

.ddc-icon-mopar-dlr-rental-icon:before {
  content: "\e6b2"
}

.ddc-icon-mopar-dlr-sat-svc-icon:before {
  content: "\e6b3"
}

.ddc-icon-mopar-dlr-sc-rec-icon:before {
  content: "\e6b4"
}

.ddc-icon-mopar-dlr-shuttle-icon:before {
  content: "\e6b5"
}

.ddc-icon-mopar-dlr-spanish-icon:before {
  content: "\e6b6"
}

.ddc-icon-mopar-dlr-state-insp-icon:before {
  content: "\e6b7"
}

.ddc-icon-mopar-dlr-sunday-service-icon:before {
  content: "\e6b8"
}

.ddc-icon-mopar-dlr-xpr-lube-icon:before {
  content: "\e6b9"
}

.buttonblock-default.mid-block .more-vehicles h4::before,.ddc-icon-more-vehicles:before,.tabs-tabbed-widgets.tabs-tabbed-widgets-extension-1 .ui-tabs-nav li:first-child a:before {
  content: "\e6ba"
}

.ddc-icon-mpg30:before,.inventoryList>li.mpg30 .fn a:after {
  content: "\e6bb"
}

.ddc-icon-mpg35:before,.inventoryList>li.mpg35 .fn a:after {
  content: "\e6bc"
}

.ddc-icon-mpg40:before,.inventoryList>li.mpg40 .fn a:after {
  content: "\e6bd"
}

.ddc-icon-mpg45:before,.inventoryList>li.mpg45 .fn a:after {
  content: "\e6be"
}

.ddc-icon-mpg50:before,.inventoryList>li.mpg50 .fn a:after {
  content: "\e6bf"
}

.ddc-icon-mpg55:before,.inventoryList>li.mpg55 .fn a:after {
  content: "\e6c0"
}

.ddc-icon-mpg60:before,.inventoryList>li.mpg60 .fn a:after {
  content: "\e6c1"
}

.ddc-icon-mpg65:before,.inventoryList>li.mpg65 .fn a:after {
  content: "\e6c2"
}

.ddc-icon-mpg70:before,.inventoryList>li.mpg70 .fn a:after {
  content: "\e6c3"
}

.ddc-icon-mpg75:before,.inventoryList>li.mpg75 .fn a:after {
  content: "\e6c4"
}

.ddc-icon-mycars-alerts:before,.mycars .price-alerts .count:before {
  content: "\e6c5"
}

.ddc-icon-mycars-heart:before {
  content: "\e6c6"
}

.ddc-icon-mycars-login:before,.mycars .menu.login>a:before {
  content: "\e6c7"
}

.ddc-icon-mycars-login-circle:before {
  content: "\e6c8"
}

.ddc-icon-mycars-minimal-alerts:before,.page-header.minimal .mycars-integration-navbar .menu.price-alerts .count:before {
  content: "\e6c9"
}

.ddc-icon-mycars-minimal-login:before,.page-header.minimal .mycars-integration-navbar .menu.login>a:before {
  content: "\e6ca"
}

.ddc-icon-mycars-minimal-saved:before,.page-header.minimal .mycars-integration-navbar .menu.saved-cars .count:before {
  content: "\e6cb"
}

.ddc-icon-mycars-minimal-viewed:before,.page-header.minimal .mycars-integration-navbar .menu.recent-cars .count:before {
  content: "\e6cc"
}

.ddc-icon-mycars-outline-account-thin:before {
  content: "\e6cd"
}

.ddc-icon-mycars-outline-alerts:before {
  content: "\e6ce"
}

.ddc-icon-mycars-outline-alerts-thin:before {
  content: "\e6cf"
}

.ddc-icon-mycars-outline-bell:before {
  content: "\e6d0"
}

.ddc-icon-mycars-outline-bookmark:before {
  content: "\e6d1"
}

.ddc-icon-mycars-outline-login:before {
  content: "\e6d2"
}

.ddc-icon-mycars-outline-login-thin:before {
  content: "\e6d3"
}

.ddc-icon-mycars-outline-saved:before {
  content: "\e6d4"
}

.ddc-icon-mycars-outline-saved-thin:before {
  content: "\e6d5"
}

.ddc-icon-mycars-outline-viewed-thin:before {
  content: "\e6d6"
}

.ddc-icon-mycars-saved:before,.mycars .saved-cars .count:before {
  content: "\e6d7"
}

.ddc-icon-mycars-solid-bell:before {
  content: "\e6d8"
}

.ddc-icon-mycars-solid-bookmark:before {
  content: "\e6d9"
}

.ddc-icon-mycars-viewed:before,.mycars .recent-cars .count:before {
  content: "\e6da"
}

.ddc-icon-navigation-system:before {
  content: "\e6db"
}

.ddc-icon-new-oil:before {
  content: "\e6dc"
}

.ddc-icon-new-vehicle-specials:before {
  content: "\e6dd"
}

.ddc-icon-night-vision:before {
  content: "\e6de"
}

.ddc-icon-odometer:before {
  content: "\e6df"
}

.ddc-icon-off-lot:before {
  content: "\e6e0"
}

.ddc-icon-options_clipboard:before {
  content: "\e6e1"
}

.ddc-icon-paint:before,.quick-specs .exteriorColor .ddc-icon:before {
  content: "\e6e2"
}

.ddc-icon-parking-sensors:before {
  content: "\e6e3"
}

.ddc-icon-pause:before,.slideControls .play:before {
  content: "\e6e4"
}

.ddc-icon-perimeter-lights:before {
  content: "\e6e5"
}

.ddc-icon-photo:before {
  content: "\e6e6"
}

.ddc-icon-play:before,.slideControls .play.paused:before {
  content: "\e6e7"
}

.ddc-icon-play2:before {
  content: "\e6e8"
}

.ddc-icon-plus:before,.inventory-detail-tech-specs .tech-specs.panel-group .panel .collapsed .ddc-icon:before {
  content: "\e6e9"
}

.ddc-icon-plus-sm:before,.page-header.sticky-header-nav.shrink-header-nav .vcard .tels:after {
  content: "\e6ea"
}

.ddc-icon-power-liftgate:before {
  content: "\e6eb"
}

.ddc-icon-power-moonroof:before {
  content: "\e6ec"
}

.ddc-icon-premium-audio-system:before {
  content: "\e6ed"
}

.ddc-icon-preowned-vehicle-specials:before {
  content: "\e6ee"
}

.ddc-icon-print:before {
  content: "\e6ef"
}

.ddc-icon-promotion-new-specials:before {
  content: "\e6f0"
}

.ddc-icon-promotion-parts-specials:before {
  content: "\e6f1"
}

.ddc-icon-promotion-service-specials:before {
  content: "\e6f2"
}

.ddc-icon-promotion-used-specials:before {
  content: "\e6f3"
}

.ddc-icon-rain-sensing-wipers:before {
  content: "\e6f4"
}

.ddc-icon-recent:before {
  content: "\e6f5"
}

.ddc-icon-remote-keyless-entry:before {
  content: "\e6f6"
}

.ddc-icon-remove:before {
  content: "\e6f7"
}

.ddc-icon-remove2:before {
  content: "\e6f8"
}

.ddc-icon-reset:before {
  content: "\e6f9"
}

.ddc-icon-search:before {
  content: "\e6fa"
}

.ddc-icon-search-thin:before {
  content: "\e6fb"
}

.ddc-icon-seatbelt:before {
  content: "\e6fc"
}

.ddc-icon-seats-cooled:before {
  content: "\e6fd"
}

.ddc-icon-select-arrows:before {
  content: "\e6fe"
}

.ddc-icon-send:before {
  content: "\e6ff"
}

.ddc-icon-service-outline:before {
  content: "\e700"
}

.ddc-icon-single-vehicle:before {
  content: "\e701"
}

.ddc-icon-skinny-arrow-large-left:before {
  content: "\e702"
}

.ddc-icon-skinny-arrow-large-right:before {
  content: "\e703"
}

.ddc-icon-skinny-arrow-left:before {
  content: "\e704"
}

.ddc-icon-skinny-arrow-right:before {
  content: "\e705"
}

.ddc-icon-social-blog:before {
  content: "\e706"
}

.ddc-icon-social-facebook:before {
  content: "\e707"
}

.ddc-icon-social-instagram:before {
  content: "\e708"
}

.ddc-icon-social-ratings:before {
  content: "\e709"
}

.ddc-icon-social-twitter:before {
  content: "\e70a"
}

.ddc-icon-social-youtube:before {
  content: "\e70b"
}

.ddc-icon-speaker:before {
  content: "\e70c"
}

.ddc-icon-speaker-muted:before {
  content: "\e70d"
}

.ddc-icon-specs-abs:before {
  content: "\e70e"
}

.ddc-icon-specs-bluetooth:before {
  content: "\e70f"
}

.ddc-icon-specs-gaspump:before {
  content: "\e710"
}

.ddc-icon-specs-gear1:before {
  content: "\e711"
}

.buttonblock-default.mid-block .specs-gear2 h4::before,.ddc-icon-specs-gear2:before,.tabs-tabbed-widgets.tabs-tabbed-widgets-extension-1 .ui-tabs-nav li a:after {
  content: "\e712"
}

.ddc-icon-specs-transmission:before {
  content: "\e713"
}

.ddc-icon-specs-wheel:before {
  content: "\e714"
}

.ddc-icon-specs_gaspump:before {
  content: "\e715"
}

.ddc-icon-speed-limit:before {
  content: "\e716"
}

.ddc-icon-speed-sensitive-wipers:before {
  content: "\e717"
}

.ddc-icon-speedometer:before {
  content: "\e718"
}

.ddc-icon-star:before,.inventory-listing-default #compareForm .bd .hproduct .mycars-vlp a.mycars-save-btn::before,.inventory-listing-default #compareForm .bd .hproduct .mycars-vlp a.mycars-saved-btn::before {
  content: "\e719"
}

.ddc-icon-star-empty:before {
  content: "\e71a"
}

.ddc-icon-star-full:before {
  content: "\e71b"
}

.ddc-icon-steeringwheel:before {
  content: "\e71c"
}

.ddc-icon-stocknumber:before {
  content: "\e71d"
}

.ddc-icon-supercharger2:before {
  content: "\e71e"
}

.ddc-icon-suspension:before {
  content: "\e71f"
}

.ddc-icon-tachometer:before {
  content: "\e720"
}

.ddc-icon-tag:before {
  content: "\e721"
}

.ddc-icon-tag-money:before {
  content: "\e722"
}

.ddc-icon-tag-money2:before {
  content: "\e723"
}

.ddc-icon-testdrive:before {
  content: "\e724"
}

.ddc-icon-tonneau-cover:before {
  content: "\e725"
}

.ddc-icon-tool-wrench-screwdriver:before {
  content: "\e726"
}

.ddc-icon-torque:before {
  content: "\e727"
}

.ddc-icon-traction-control:before {
  content: "\e728"
}

.ddc-icon-trade:before {
  content: "\e729"
}

.ddc-icon-traffic-sign:before {
  content: "\e72a"
}

.ddc-icon-transmission:before {
  content: "\e72b"
}

.ddc-icon-trip-computer:before {
  content: "\e72c"
}

.ddc-icon-turbocharger:before {
  content: "\e72d"
}

.ddc-icon-twitter:before {
  content: "\e72e"
}

.ddc-icon-video:before {
  content: "\e72f"
}

.ddc-icon-video-camera:before {
  content: "\e730"
}

.ddc-icon-views:before {
  content: "\e731"
}

.ddc-icon-warranty:before {
  content: "\e732"
}

.ddc-icon-wb-award:before {
  content: "\e733"
}

.ddc-icon-wb-buildings:before {
  content: "\e734"
}

.ddc-icon-wb-buy-online:before {
  content: "\e735"
}

.ddc-icon-wb-car-wash:before {
  content: "\e736"
}

.ddc-icon-wb-clipboard:before {
  content: "\e737"
}

.ddc-icon-wb-coffee:before {
  content: "\e738"
}

.ddc-icon-wb-generic:before {
  content: "\e739"
}

.ddc-icon-wb-home-pin:before {
  content: "\e73a"
}

.ddc-icon-wb-money:before {
  content: "\e73b"
}

.ddc-icon-wb-money-shield:before {
  content: "\e73c"
}

.ddc-icon-wb-percent:before {
  content: "\e73d"
}

.ddc-icon-wb-price-tag:before {
  content: "\e73e"
}

.ddc-icon-wb-service:before {
  content: "\e73f"
}

.ddc-icon-wb-trade:before {
  content: "\e740"
}

.ddc-icon-wheels:before {
  content: "\e741"
}

.ddc-icon-wifi:before {
  content: "\e742"
}

.ddc-icon-wireless-charging:before {
  content: "\e743"
}

.ddc-icon-wrench:before {
  content: "\e744"
}

.ddc-icon-x029-tag_money:before {
  content: "\e745"
}

.ddc-icon-zoom:before,.showroom-default .imageViewer .ui-state .ddc-icon-zoomin:before,.vdp .ddc-wrapper .imageViewer .ui-state .ddc-icon-zoomin:before {
  content: "\e746"
}

.ddc-icon.ddc-icon-size-xsmall {
  font-size: .5em
}

.ddc-icon.ddc-icon-size-small {
  font-size: .75em
}

.ddc-icon.ddc-icon-size-large {
  font-size: 1.25em
}

.ddc-icon.ddc-icon-size-xlarge {
  font-size: 1.5em
}

.ddc-icon.ddc-icon-size-xxlarge {
  font-size: 2.5em
}

.ddc-icon.ddc-icon-size-jumbo {
  font-size: 3em
}

.ddc-icon.icon-size-1 {
  font-size: 8px!important
}

.ddc-icon.icon-dimension-size-1 {
  height: 8px!important;
  width: 8px!important
}

.ddc-icon.icon-size-2 {
  font-size: 16px!important
}

.ddc-icon.icon-dimension-size-2 {
  height: 16px!important;
  width: 16px!important
}

.ddc-icon.icon-size-3 {
  font-size: 24px!important
}

.ddc-icon.icon-dimension-size-3 {
  height: 24px!important;
  width: 24px!important
}

.ddc-icon.icon-size-4 {
  font-size: 32px!important
}

.ddc-icon.icon-dimension-size-4 {
  height: 32px!important;
  width: 32px!important
}

.ddc-icon.icon-size-5 {
  font-size: 48px!important
}

.ddc-icon.icon-dimension-size-5 {
  height: 48px!important;
  width: 48px!important
}

.ddc-icon.icon-size-6 {
  font-size: 64px!important
}

.ddc-icon.icon-dimension-size-6 {
  height: 64px!important;
  width: 64px!important
}

.ddc-icon.icon-size-7 {
  font-size: 96px!important
}

.ddc-icon.icon-dimension-size-7 {
  height: 96px!important;
  width: 96px!important
}

.ddc-icon.icon-size-8 {
  font-size: 128px!important
}

.ddc-icon.icon-dimension-size-8 {
  height: 128px!important;
  width: 128px!important
}

.ddc-icon.icon-size-9 {
  font-size: 144px!important
}

.ddc-icon.icon-dimension-size-9 {
  height: 144px!important;
  width: 144px!important
}
