[class^="foxicon-"], [class*=" foxicon-"], .foxicon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.foxicon-sort:before {
    content: "\e955"
}

.foxicon-filter_list:before {
    content: "\e956"
}

.foxicon-sort2:before {
    content: "\e957"
}

.foxicon-search-plus:before {
    content: "\f00e"
}

.foxicon-foursquare:before {
    content: "\f180"
}

.foxicon-message-bubble:before {
    content: "\e94a"
}

.foxicon-email-active:before {
    content: "\e94b"
}

.foxicon-circle-dollar:before {
    content: "\e94c"
}

.foxicon-front-car:before {
    content: "\e94d";
    color: #707070
}

.foxicon-phone:before {
    content: "\e0cd"
}

.foxicon-caret_down:before {
    content: "\e313"
}

.foxicon-keyboard_arrow_up:before {
    content: "\e316"
}

.foxicon-caret_before:before {
    content: "\e408"
}

.foxicon-caret_next:before {
    content: "\e409"
}

.foxicon-phone_in_talk:before {
    content: "\e61d"
}

.foxicon-circle-left:before {
    content: "\e902"
}

.foxicon-circle-down:before {
    content: "\e903"
}

.foxicon-circle-up:before {
    content: "\e904"
}

.foxicon-circle-right:before {
    content: "\e905"
}

.foxicon-car-fill-from-frontal-view:before {
    content: "\e906"
}

.foxicon-envelope-o:before {
    content: "\e907"
}

.foxicon-gas-station:before {
    content: "\e908"
}

.foxicon-play_arrow:before {
    content: "\e909"
}

.foxicon-calc:before {
    content: "\e90a"
}

.foxicon-iconmonstr-car-4:before {
    content: "\e90b"
}

.foxicon-check-box:before {
    content: "\e90c"
}

.foxicon-check-circle:before {
    content: "\e90d"
}

.foxicon-currency:before {
    content: "\e90e"
}

.foxicon-currency-alt:before {
    content: "\e90f"
}

.foxicon-naked-facebook:before {
    content: "\e910"
}

.foxicon-sqaure-facebook-alt:before {
    content: "\e911"
}

.foxicon-rounded-facebook:before {
    content: "\e912"
}

.foxicon-circle-fill-facebook:before {
    content: "\e913"
}

.foxicon-square-facebook:before {
    content: "\e914"
}

.foxicon-naked-google-plus:before {
    content: "\e915"
}

.foxicon-square-google-plus:before {
    content: "\e916"
}

.foxicon-rounded-google-plus:before {
    content: "\e917"
}

.foxicon-circle-fill-google-plus:before {
    content: "\e918"
}

.foxicon-circle-google-plus:before {
    content: "\e919"
}

.foxicon-play:before {
    content: "\e91a"
}

.foxicon-iconmonstr-instagram-1:before {
    content: "\e91b"
}

.foxicon-iconmonstr-instagram-6:before {
    content: "\e91c"
}

.foxicon-circle-fill-instagram:before {
    content: "\e91d"
}

.foxicon-naked-instagram:before {
    content: "\e91e"
}

.foxicon-arrow_drop_up:before {
    content: "\e91f"
}

.foxicon-circle-fill-instagram2:before {
    content: "\e920"
}

.foxicon-rounded-twitter:before {
    content: "\e921"
}

.foxicon-square-twitter:before {
    content: "\e922"
}

.foxicon-circle-twitter:before {
    content: "\e923"
}

.foxicon-naked-youtube:before {
    content: "\e924"
}

.foxicon-square-youtube:before {
    content: "\e925"
}

.foxicon-rounded-youtube:before {
    content: "\e926"
}

.foxicon-circle-fill-twitter:before {
    content: "\e927"
}

.foxicon-circle-fill-youtube:before {
    content: "\e928"
}

.foxicon-key:before {
    content: "\e929"
}

.foxicon-house-key:before {
    content: "\e92a"
}

.foxicon-geo-pin:before {
    content: "\e92b"
}

.foxicon-geo-pin-fill:before {
    content: "\e92c"
}

.foxicon-phone-big:before {
    content: "\e92d"
}

.foxicon-phone-volume:before {
    content: "\e92e"
}

.foxicon-circle-envelope:before {
    content: "\e92f"
}

.foxicon-play-circle-o:before {
    content: "\e930"
}

.foxicon-price-tag:before {
    content: "\e931"
}

.foxicon-price-tags:before {
    content: "\e932"
}

.foxicon-printer:before {
    content: "\e933"
}

.foxicon-printer6:before {
    content: "\e934"
}

.foxicon-quotes-left:before {
    content: "\e935"
}

.foxicon-quotes-right:before {
    content: "\e936"
}

.foxicon-search-alt:before {
    content: "\e937"
}

.foxicon-sedan-car-model:before {
    content: "\e938"
}

.foxicon-speedometer:before {
    content: "\e939"
}

.foxicon-vehicle-steering-wheel:before {
    content: "\e93a"
}

.foxicon-steering-wheel:before {
    content: "\e93b"
}

.foxicon-car-steering-wheel-svgrepo-com:before {
    content: "\e93c"
}

.foxicon-naked-twitter:before {
    content: "\e93d"
}

.foxicon-trident-left:before {
    content: "\e93e"
}

.foxicon-arrow_drop_down:before {
    content: "\e93f"
}

.foxicon-search:before {
    content: "\e940"
}

.foxicon-search5:before {
    content: "\e941"
}

.foxicon-times-circle-o:before {
    content: "\e942"
}

.foxicon-suv:before {
    content: "\e943"
}

.foxicon-van:before {
    content: "\e900"
}

.foxicon-truck:before {
    content: "\e901"
}

.foxicon-sedan:before {
    content: "\e944"
}

.foxicon-liftback:before {
    content: "\e945"
}

.foxicon-hatchback:before {
    content: "\e946"
}

.foxicon-convertible:before {
    content: "\e947"
}

.foxicon-minivan:before {
    content: "\e948"
}

.foxicon-wagon:before {
    content: "\e949"
}

.foxicon-cross:before {
    content: "\ea0f"
}

.foxicon-checkmark:before {
    content: "\ea10"
}

.foxicon-naked-play:before {
    content: "\ea1c"
}

.foxicon-sort-up:before {
    content: "\ea4d"
}

.foxicon-tools-2:before {
    content: "\e954"
}

.foxicon-wrench:before {
    content: "\e954"
}

.foxicon-screwdriver:before {
    content: "\e954"
}

.foxicon-plus:before {
    content: "\e950"
}

.foxicon-minus:before {
    content: "\e951"
}

.foxicon-loop:before {
    content: "\e94e"
}

.foxicon-refresh:before {
    content: "\e94e"
}

.foxicon-reload:before {
    content: "\e94e"
}

.foxicon-reset:before {
    content: "\e94e"
}

.foxicon-arrows:before {
    content: "\e94e"
}

.foxicon-star-full:before {
    content: "\e9d9"
}

.foxicon-star-empty:before {
    content: "\e9d7"
}

.foxicon-icon:before {
    content: "\e94f"
}

.foxicon-yelp:before {
    content: "\ead7"
}

.foxicon-clock:before {
    content: "\e952"
}

.foxicon-calendar:before {
    content: "\e953"
}

.foxicon-wrench2:before {
    content: "\e991"
}

.foxicon-eye:before {
    content: "\e9ce"
}

.foxicon-eye-plus:before {
    content: "\e9cf"
}

.foxicon-eye-minus:before {
    content: "\e9d0"
}

.foxicon-eye-blocked:before {
    content: "\e9d1"
}

.foxicon-cancel-circle:before {
    content: "\ea0d"
}

.foxicon-filter:before {
    content: "\ea5b"
}

.foxicon-sort-amount-desc:before {
    content: "\ea4e"
}

/* ------------------------------- icomoon New ------------------------------ */

.foxicon-phone:before {
  content: "\e0cd";
}
.foxicon-caret_down:before {
  content: "\e313";
}
.foxicon-keyboard_arrow_up:before {
  content: "\e316";
}
.foxicon-caret_before:before {
  content: "\e408";
}
.foxicon-caret_next:before {
  content: "\e409";
}
.foxicon-phone_in_talk:before {
  content: "\e61d";
}
.foxicon-van:before {
  content: "\e900";
}
.foxicon-truck:before {
  content: "\e901";
}
.foxicon-circle-left:before {
  content: "\e902";
}
.foxicon-circle-down:before {
  content: "\e903";
}
.foxicon-circle-up:before {
  content: "\e904";
}
.foxicon-circle-right:before {
  content: "\e905";
}
.foxicon-car-fill-from-frontal-view:before {
  content: "\e906";
}
.foxicon-envelope-o:before {
  content: "\e907";
}
.foxicon-gas-station:before {
  content: "\e908";
}
.foxicon-play_arrow:before {
  content: "\e909";
}
.foxicon-calc:before {
  content: "\e90a";
}
.foxicon-iconmonstr-car-4:before {
  content: "\e90b";
}
.foxicon-check-box:before {
  content: "\e90c";
}
.foxicon-check-circle:before {
  content: "\e90d";
}
.foxicon-currency:before {
  content: "\e90e";
}
.foxicon-currency-alt:before {
  content: "\e90f";
}
.foxicon-naked-facebook:before {
  content: "\e910";
}
.foxicon-sqaure-facebook-alt:before {
  content: "\e911";
}
.foxicon-rounded-facebook:before {
  content: "\e912";
}
.foxicon-circle-fill-facebook:before {
  content: "\e913";
}
.foxicon-square-facebook:before {
  content: "\e914";
}
.foxicon-naked-google-plus:before {
  content: "\e915";
}
.foxicon-square-google-plus:before {
  content: "\e916";
}
.foxicon-rounded-google-plus:before {
  content: "\e917";
}
.foxicon-circle-fill-google-plus:before {
  content: "\e918";
}
.foxicon-circle-google-plus:before {
  content: "\e919";
}
.foxicon-play:before {
  content: "\e91a";
}
.foxicon-iconmonstr-instagram-1:before {
  content: "\e91b";
}
.foxicon-iconmonstr-instagram-6:before {
  content: "\e91c";
}
.foxicon-circle-fill-instagram:before {
  content: "\e91d";
}
.foxicon-naked-instagram:before {
  content: "\e91e";
}
.foxicon-arrow_drop_up:before {
  content: "\e91f";
}
.foxicon-circle-fill-instagram2:before {
  content: "\e920";
}
.foxicon-rounded-twitter:before {
  content: "\e921";
}
.foxicon-square-twitter:before {
  content: "\e922";
}
.foxicon-circle-twitter:before {
  content: "\e923";
}
.foxicon-naked-youtube:before {
  content: "\e924";
}
.foxicon-square-youtube:before {
  content: "\e925";
}
.foxicon-rounded-youtube:before {
  content: "\e926";
}
.foxicon-circle-fill-twitter:before {
  content: "\e927";
}
.foxicon-circle-fill-youtube:before {
  content: "\e928";
}
.foxicon-key:before {
  content: "\e929";
}
.foxicon-house-key:before {
  content: "\e92a";
}
.foxicon-geo-pin:before {
  content: "\e92b";
}
.foxicon-geo-pin-fill:before {
  content: "\e92c";
}
.foxicon-phone-big:before {
  content: "\e92d";
}
.foxicon-phone-volume:before {
  content: "\e92e";
}
.foxicon-circle-envelope:before {
  content: "\e92f";
}
.foxicon-play-circle-o:before {
  content: "\e930";
}
.foxicon-price-tag:before {
  content: "\e931";
}
.foxicon-price-tags:before {
  content: "\e932";
}
.foxicon-printer:before {
  content: "\e933";
}
.foxicon-printer6:before {
  content: "\e934";
}
.foxicon-quotes-left:before {
  content: "\e935";
}
.foxicon-quotes-right:before {
  content: "\e936";
}
.foxicon-search-alt:before {
  content: "\e937";
}
.foxicon-sedan-car-model:before {
  content: "\e938";
}
.foxicon-speedometer:before {
  content: "\e939";
}
.foxicon-vehicle-steering-wheel:before {
  content: "\e93a";
}
.foxicon-steering-wheel:before {
  content: "\e93b";
}
.foxicon-car-steering-wheel-svgrepo-com:before {
  content: "\e93c";
}
.foxicon-naked-twitter:before {
  content: "\e93d";
}
.foxicon-trident-left:before {
  content: "\e93e";
}
.foxicon-arrow_drop_down:before {
  content: "\e93f";
}
.foxicon-search:before {
  content: "\e940";
}
.foxicon-search5:before {
  content: "\e941";
}
.foxicon-times-circle-o:before {
  content: "\e942";
}
.foxicon-suv:before {
  content: "\e943";
}
.foxicon-sedan:before {
  content: "\e944";
}
.foxicon-liftback:before {
  content: "\e945";
}
.foxicon-hatchback:before {
  content: "\e946";
}
.foxicon-convertible:before {
  content: "\e947";
}
.foxicon-minivan:before {
  content: "\e948";
}
.foxicon-wagon:before {
  content: "\e949";
}
.foxicon-message-bubble:before {
  content: "\e94a";
}
.foxicon-email-active:before {
  content: "\e94b";
}
.foxicon-circle-dollar:before {
  content: "\e94c";
}
.foxicon-front-car:before {
  content: "\e94d";
}
.foxicon-loop:before {
  content: "\e94e";
}
.foxicon-icon:before {
  content: "\e94f";
}
.foxicon-plus:before {
  content: "\e950";
}
.foxicon-minus:before {
  content: "\e951";
}
.foxicon-clock:before {
  content: "\e952";
}
.foxicon-calendar:before {
  content: "\e953";
}
.foxicon-tools-2:before {
  content: "\e954";
}
.foxicon-wrench2:before {
  content: "\e991";
}
.foxicon-eye:before {
  content: "\e9ce";
}
.foxicon-eye-plus:before {
  content: "\e9cf";
}
.foxicon-eye-minus:before {
  content: "\e9d0";
}
.foxicon-eye-blocked:before {
  content: "\e9d1";
}
.foxicon-star-empty:before {
  content: "\e9d7";
}
.foxicon-star-full:before {
  content: "\e9d9";
}
.foxicon-cancel-circle:before {
  content: "\ea0d";
}
.foxicon-cross:before {
  content: "\ea0f";
}
.foxicon-checkmark:before {
  content: "\ea10";
}
.foxicon-naked-play:before {
  content: "\ea1c";
}
.foxicon-sort-up:before {
  content: "\ea4d";
}
.foxicon-filter:before {
  content: "\ea5b";
}
.foxicon-yelp:before {
  content: "\ead7";
}
.foxicon-search-plus:before {
  content: "\f00e";
}
.foxicon-foursquare:before {
  content: "\f180";
}
.foxicon-email-envelope:before {
  content: "\e955";
}
.foxicon-menu:before {
  content: "\e9bd";
}
.foxicon-sphere:before {
  content: "\e9c9";
}
.foxicon-heart:before {
  content: "\e9da";
}
