
[data-site-unique-id='JOSEPHTOYOTA']{
    #dg-man-icon {
        border: 1px solid white;
        border-radius: 50%;
    }    
}
[data-site-unique-id='CLAREMONTTOYOTA'],
[data-site-unique-id='JOHNSONCITYTOYOTA'],
[data-site-unique-id='SPARTANBURGTOYOTA']{
    #dg-man-icon {
        border: 1px solid red;
        border-radius: 50%;
    }    
}