[data-theme='canadacadillac'] {
  .navtext-secondary {
    font-size: 0.6em;
    font-weight: 300;
  }
}

.jaguar {
  font-family: 'Avenir', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

[data-site-unique-id='TOYOTASB'] {
  font-family: 'Helvetica Neue', sans-serif;
}

[data-theme='mercedesbenz'] {
  --font-primary: 'MBCorpoSText';
  --font-secondary: 'MBCorpoAScreen2';
  font-family: var(--font-primary);
  background-color: #f1f1f1;

  * {
    font-family: var(--font-primary);
    letter-spacing: 0.5px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-secondary);
    }
  }
}
[data-theme='tristatevans'] {
  --font-primary: 'MBCorpoSText';
}

[data-site-unique-id="MBCINCY"] {
  background-color: #ffff;
}

[data-theme='mercedesbenz'] {
  .dealerWidget {
    width: 100%;

    table {
      width: 75%;
      margin: auto;
      @include MQ(480px) {
        width: 100%;
      }
    }
  }
}

[data-theme='lexuscanadatheme1'] {
  --font-primary: 'nobel';
  font-family: var(--font-primary);
  * {
    font-family: var(--font-primary);
  }
}

[data-theme='nissantheme1'] {
  .page_Wrapper_content {
    a {
        color: #666;
        text-decoration: underline;
        &:hover {
         color: #666;
          text-decoration: none;
        }
      }
    }
}

[data-theme='toyotatheme3'] {
  --font-primary: 'Toyota_Type', Helvetica Neue, sans-serif;
  font-family: var(--font-primary);

  * {
    font-family: var(--font-primary);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-primary);
    }
  }
}
[data-theme='cdjrtheme1']{
  --font-primary: 'Helvetica Neue', sans-serif;
  font-family: var(--font-primary);

  * {
    font-family: var(--font-primary);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--font-primary);
    }
  }
}
