@use 'sass:color';
@use 'sass:math';
@import 'functions.module.sass';

@function rem($size) {
  @return calc($size/ 16px) * 1rem;
}

@function em($size) {
  @return calc($size/ 16px) * 1em;
}

@function percent($size) {
  @return calc($size/ 16px) * 1%;
}

/* -------------------------------------------------------------------------- */
/*                              initial-variables                             */
/* -------------------------------------------------------------------------- */
// Colors
$black: hsl(0deg 0% 4%) !default;
$black-bis: hsl(0deg 0% 9%) !default;
$black-ter: hsl(0deg 0% 14%) !default;
$grey-darker: hsl(0deg 0% 21%) !default;
$grey-dark: hsl(0deg 0% 29%) !default;
$grey: hsl(0deg 0% 48%) !default;
$grey-light: hsl(0deg 0% 71%) !default;
$grey-lighter: hsl(0deg 0% 86%) !default;
$grey-lightest: hsl(0deg 0% 93%) !default;
$grayish-light: hsl(0deg 2% 90%) !default;

$white-ter: hsl(0deg 0% 92%) !default;
$white-bis: hsl(0deg 0% 96%) !default;
$white: hsl(0deg 0% 100%) !default;

$orange-light: hsl(6deg 81% 58%) !default;
$orange: hsl(14deg 100% 53%) !default;
$yellow: hsl(44deg 100% 77%) !default;
$green: hsl(153deg 53% 53%) !default;
$green-light: hsl(120deg 100% 25%) !default;
$turquoise: hsl(163deg 75% 37%) !default;
$cyan: hsl(207deg 61% 53%) !default;
$blue: hsl(217deg 61% 40%) !default;
$purple: hsl(271deg 100% 71%) !default;
$red: hsl(348deg 86% 61%) !default;
$red-dark: hsl(0deg 100% 50%) !default;
$red-darkest: hsl(0, 100%, 40%) !default;

$skyblue: hsl(201deg, 81%, 38%, 0.3) !default;
$navyblue: hsl(240, 100%, 25%) !default;

// Typography
$family-primary: var(--font-family) !default;
$family-secondary: var(--font-family-secondary) !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;
$weight-extrabold: 800 !default;

// Spacing
$block-spacing: 1.5rem !default;

// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: true !default;
$breakpoints: (
  'mobile': (
    'until': $tablet
  ),
  'tablet': (
    'from': $tablet
  ),
  'tablet-only': (
    'from': $tablet,
    'until': $desktop
  ),
  'touch': (
    'from': $desktop
  ),
  'desktop': (
    'from': $desktop
  ),
  'desktop-only': (
    'from': $desktop,
    'until': $widescreen
  ),
  'until-widescreen': (
    'until': $widescreen
  ),
  'widescreen': (
    'from': $widescreen
  ),
  'widescreen-only': (
    'from': $widescreen,
    'until': $fullhd
  ),
  'until-fullhd': (
    'until': $fullhd
  ),
  'fullhd': (
    'from': $fullhd
  )
) !default;

// Miscellaneous
$easing: ease-out !default;
$radius-small: 2px !default;
$radius: 4px !default;
$radius-large: 6px !default;
$radius-rounded: 9999px !default;
$speed: 86ms !default;

// Flags
$variable-columns: true !default;
$rtl: false !default;

// CSS vars flags
$css-variables: true !default;
$at-root: true !default;
$export: false !default;

$primary: var(--primary-color) !default;
$secondary: var(--secondary-color) !default;

$info: $cyan !default;
$success: $green !default;
$warning: $yellow !default;
$danger: $red !default;

$light: $white-ter !default;
$dark: $grey-darker !default;

// Base invert colors
// $invert-dark-color: rgba($black, .7) !default;
// $invert-dark-color-rgb: fn.bulmaToRGB($invert-dark-color) !default;
// $invert-dark-color-bis: fn.findColorState($invert-dark-color, 5%) !default;
// $invert-dark-color-ter: fn.findColorState($invert-dark-color, 10%) !default;

// $invert-light-color: rgba($white, 1) !default;
// $invert-light-color-rgb: fn.bulmaToRGB($invert-light-color) !default;
// $invert-light-color-bis: fn.findColorState($invert-light-color, 5%) !default;
// $invert-light-color-ter: fn.findColorState($invert-light-color, 10%) !default;

// Invert colors
$white-invert: findColorInvert($white);
$black-invert: findColorInvert($black);

$orange-invert: findColorInvert($orange) !default;
$yellow-invert: findColorInvert($yellow) !default;
$green-invert: findColorInvert($green) !default;
$turquoise-invert: findColorInvert($turquoise) !default;
$cyan-invert: findColorInvert($cyan) !default;
$blue-invert: findColorInvert($blue) !default;
$purple-invert: findColorInvert($purple) !default;
$red-invert: findColorInvert($red) !default;

// Theme colors
// $primary-invert: fn.findColorInvert($primary) !default;
$primary-light: var(--primary-color-light) !default;
$primary-lighter: var(--primary-color-lighter) !default;
$primary-lightest: var(--primary-color-lightest) !default;
$primary-dark: var(--primary-color-dark) !default;
$primary-darker: var(--primary-color-darker) !default;
$primary-darkest: var(--primary-color-darkest) !default;

// $secondary-invert: fn.findColorInvert($secondary) !default;
$secondary-light: var(--secondary-color-light) !default;
$secondary-lighter: var(--secondary-color-lighter) !default;
$secondary-lightest: var(--secondary-color-lightest) !default;
$secondary-dark: var(--secondary-color-dark) !default;
$secondary-darker: var(--secondary-color-darker) !default;
$secondary-darkest: var(--secondary-color-darkest) !default;
// $secondary-light: fn.findLightColor($secondary) !default;
// $secondary-dark: fn.findDarkColor($secondary) !default;

$header: var(--header) !default;
$headerBg: var(--headerBg) !default;
$navbarBg: var(--navbarBg) !default;
$secondaryNavbarBg: var(--secondaryNavbarBg) !default;
$contactNavbarBg: var(--contactNavbarBg) !default;
$contactNavbar: var(--contactNavbar) !default;
$navBannerBackground: var(--navBannerBackground) !default;
$navBannerFont: var(--navBannerFont) !default;
$footerLogo: var(--footerLogo) !default;
$footerLogoBg: var(--footerLogoBg) !default;
$frontpageAboutUsBg: var(--frontpageAboutUsBg) !default;
$frontpageAboutUs: var(--frontpageAboutUs) !default;
$frontpageContactUs: var(--frontpageContactUs) !default;
$frontpageContactUsBgPrimary: var(--frontpageContactUsBgPrimary) !default;
$frontpageContactUsBgSecondary: var(--frontpageContactUsBgSecondary) !default;
$findNextVehicleSearchBg: var(--findNextVehicleSearchBg) !default;
$findNextVehicleSearch: var(--findNextVehicleSearch) !default;
$findNextVehicleSearchBtn: var(--findNextVehicleSearchBtn) !default;
$findNextVehicleSearchBtnBg: var(--findNextVehicleSearchBtnBg) !default;
$carboxSpecialsRibbonBg: var(--carboxSpecialsRibbonBg) !default;
$carboxSpecialsRibbon: var(--carboxSpecialsRibbon) !default;

$info-invert: findColorInvert($info) !default;
$info-light: findLightColor($info) !default;
$info-dark: findDarkColor($info) !default;
$success-invert: findColorInvert($success) !default;
$success-light: findLightColor($success) !default;
$success-dark: findDarkColor($success) !default;
$warning-invert: findColorInvert($warning) !default;
$warning-light: findLightColor($warning) !default;
$warning-dark: findDarkColor($warning) !default;
$danger-invert: findColorInvert($danger) !default;
$danger-light: findLightColor($danger) !default;
$danger-dark: findDarkColor($danger) !default;
$light-invert: findColorInvert($light) !default;
$dark-invert: findColorInvert($dark) !default;

// General colors
$scheme-main: $white !default;
$scheme-main-bis: $white-bis !default;
$scheme-main-ter: $white-ter !default;
$scheme-invert: $black !default;
$scheme-invert-bis: $black-bis !default;
$scheme-invert-ter: $black-ter !default;
$background: $white-ter !default;
$border: $grey-lighter !default;
$border-hover: $grey-light !default;
$border-light: $grey-lightest !default;
$border-light-hover: $grey-light !default;

// Text colors
$text: var(--text-color) !default;
// $text-invert: findColorInvert($text) !default;
$text-light: $grey !default;
$text-strong: $grey-darker !default;

// Code colors
$code: color.adjust($red, $lightness: -15%) !default;
$code-background: var(--background) !default;
$pre: var(--text) !default;
$pre-background: var(--background) !default;

// Link colors
$link: $blue !default;
$link-invert: findColorInvert($link) !default;
$link-light: findLightColor($link) !default;
$link-dark: findDarkColor($link) !default;
$link-visited: $purple !default;
$link-hover: $grey-darker !default;
$link-hover-border: $grey-light !default;
$link-focus: $grey-darker !default;
$link-focus-border: $blue !default;
$link-active: $grey-darker !default;
$link-active-border: $grey-dark !default;

// Typography
$family-code: $family-monospace !default;
$font-size: var(--font-size);
$size-small: $size-7 !default; //0.75rem
$size-normal: $size-6 !default; //1rem !default;
$size-medium: $size-5 !default; //1.25rem !default;
$size-large: $size-4 !default; //1.5rem !default;

// Effects
$shadow: 0 0.5em 1em -0.125em rgba(var(--scheme-invert-rgb), 0.1),
  0 0 0 1px rgba(var(--scheme-invert-rgb), 0.02) !default;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

// $colors: fn.mergeColorMaps(("white": ($white, $white-invert), "black": ($black, $black-invert), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert, $primary-light, $primary-darker), "secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark), "link": ($link, $link-invert, $link-light, $link-dark), "info": ($info, $info-invert, $info-light, $info-dark), "success": ($success, $success-invert, $success-light, $success-dark), "warning": ($warning, $warning-invert, $warning-light, $warning-dark), "danger": ($danger, $danger-invert, $danger-light, $danger-dark)), $custom-colors) !default;

// $shades: fn.mergeColorMaps(("black-bis": $black-bis, "black-ter": $black-ter, "grey-darker": $grey-darker, "grey-dark": $grey-dark, "grey": $grey, "grey-light": $grey-light, "grey-lighter": $grey-lighter, "grey-lightest": $grey-lightest, "white-ter": $white-ter, "white-bis": $white-bis), $custom-shades) !default;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;

/* -------------------------------------------------------------------------- */
/*                                Old Variables                               */
/* -------------------------------------------------------------------------- */

$border-radius: $radius;
// container-width
$container-width: calc(100% - rem(96px)) !default;
$container-md-width: calc(100% - rem(48px)) !default;
$container-padding: rem(16px) !default;
$container-sm-padding: rem(16px) !default;
//breakpoints
$xl-device: 1440px; //1440+desktop
$lg-device: 1024px; // 1024+ tablet
$md-device: 880px; // 880px tablet
// $md-device: 768px; // 768+ tablet
$sm-device: 767px; //375+ mobile
$xs-device: 375px;
// Header Height
$header-height: rem(88px);
$mobile-header-height: rem(88px);
// downeynissan colors
$btn-border-color: #ccc;
$btn-hover-color: #696969;
$meganenu-nav-title: #434343;
$grey-lightest2: #f2f2f2;
$form-border-color: #ced4da;
$form-text-color: #495057;
$mobile-btn-bg: #e8e8e8;
$mobile-search-bg: #565656;
$mobile-btn-text: #212529;
$dn-xxl-device: 1599px;
$dn-xl-device: 1399px;
$dn-lg-device: 1024px;
$dn-md-device: 880px;
$dn-sm-device: 680px;
$dn-xs-device: 600px;
// circleinfiniti colors
$ci-lg-device: 1300px;
$ci-md-device: 880px;
$ci-btn-hover: #202020;
$ci-link: #144f75;
$ci-header-text: #212529;
$ci-section-bg-color: #4c4c4a8c;
$ci-footer-bg-color: #0a0a0a;
$ci-compare-btn-color: #d9534f;
$green-dark: #36802d;
$dark-red: #cf2e2e;
$form-validation-color: #790000;
$error-active-border: #c89797;
$form-btn-color: #c8c8c8;
$dark-maroon: #480b15;
$dark-yellow: #fcca17;
$light-grey: #efefef;

/* -------------------------------------------------------------------------- */
/*                             Nissan Brand colors                            */
/* -------------------------------------------------------------------------- */
$nissanWhite: #fff;
$nissanLightRed: #e82324;
$nissanRed: #c3002f;
$nissanPrimary: $nissanRed;
$nissanBlack: #000;
$nissanGrey: #efefef;
$nissanGray: $nissanGrey;

/* -------------------------------------------------------------------------- */
/*                    Rockhill Nissan Brand colors                            */
/* -------------------------------------------------------------------------- */

$rockhillNissanBlack: #0c121c;
$rockhillNissanYellow: #ffd700;

/* -------------------------------------------------------------------------- */
/*                             Usedcar theme colors                            */
/* -------------------------------------------------------------------------- */

$usedcarNavyBlue: #001743;
$usedcarGrey: #efefef;
$usedcarGray: #efefef;
$usedcarLightRed: #e82324;
$usedcarRed: #e90000;
$usedcardarkgray: #393939;
$usedcarlightgray: #797979;
$usedcaryellow: #ffb800;
$usedcargreen: #009028;

/* -------------------------------------------------------------------------- */
/*                                  GMC Theme                                 */
/* -------------------------------------------------------------------------- */

$GMCPrimary: #184078;
$GMCBlue: $GMCPrimary;
$GMCGrey: #f0f1f3;
$GMCDark: #2a2b2b;

/* -------------------------------------------------------------------------- */
/*                                  Toyota Theme                                 */
/* -------------------------------------------------------------------------- */

$themeRed: #c3002f;
$themeDarkBlack: #000;
$themelightGrey: #efefef;

/* -------------------------------------------------------------------------- */
/*                                  lexuscanadatheme1                               */
/* -------------------------------------------------------------------------- */

$lexusThemeGrey: $grey;

/* -------------------------------------------------------------------------- */
/*                                  Hondatheme1                               */
/* -------------------------------------------------------------------------- */

$hondaBlack: #000;
$hondaGrey: #efefef;
$hondaPrimary: #184078;
$hondaWhite: #fff;
